.triggers {
  background: white;
  color: black;
  padding: 10px;
  margin-left: -5px;
  border: 1px solid #1e90ff;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.controls {
  background: white;
  color: black;
  padding: 10px;
  margin-left: -5px;
  border: 1px solid #cc95c0;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.FlowControl {
  background: white;
  color: black;
  padding: 10px;
  margin-left: -5px;
  border: 1px solid #00cdac;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.Action {
  background: white;
  color: black;
  padding: 10px;
  margin-left: -5px;
  border: 1px solid green;
  width: 200px;
  height: 30px;
  border-radius: 3px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 25px;
}

.text {
  margin-left: 50px;
  font-family: sans-serif;
}

.watch {
  background: conic-gradient(red 50%, yellow 50%);
  width: 52px;
  height: 36px;
  border-radius: 150px 150px 0 0;

  transform: rotate(90deg);
  background-color: #1e90ff;
  margin-top: 33px;
  margin-left: -6px;
  z-index: -1;
}
.fg {
  fill: #4472c4;
  stroke: #ffffff;
  stroke-width: 5;
  transition: fill 0.3s;
}

.circleCSS {
  height: 60px;
  margin-top: -54px;
  transform: rotate(270deg);
  margin-left: -31px;
  fill: #eee;
  stroke: white;
  stroke-width: 3px;
}

.circle {
  height: 52px;
  width: 52px;
  left: 0px;
  border-radius: 50%;
  clip: rect(0px, 52px, 52px, 26px);
  position: absolute;
  margin-left: 200px;
}
.slice {
  background-color: rgb(219, 215, 210);
  transform: rotate(0deg);
  position: absolute;
  height: 52px;
  width: 52px;
  border-radius: 50%;
  clip: rect(0px, 52px, 52px, 26px);
  cursor: crosshair;
  right: unset;
  top: unset;
}

.n_2_0 {
  transform: rotate(0deg);
  clip: rect(0px, 52px, 26px, 28px);
}

.n_2_1 {
  transform: rotate(90deg);
  clip: rect(0px, 52px, 26px, 28px);
}

.n_3_0 {
  transform: rotate(0deg);
}

.n_3_1 {
  transform: rotate(60deg);
}

.n_3_2 {
  transform: rotate(120deg);
}

.n_4_0 {
  transform: rotate(0deg);
}

.n_4_1 {
  transform: rotate(45deg);
}

.n_4_2 {
  transform: rotate(90deg);
}

.n_4_3 {
  transform: rotate(135deg);
}

.n_5_0 {
  transform: rotate(0deg);
}

.n_5_1 {
  transform: rotate(36deg);
}

.n_5_2 {
  transform: rotate(72deg);
}

.n_5_3 {
  transform: rotate(108deg);
}

.n_5_4 {
  transform: rotate(144deg);
}

.slice:hover {
  background-color: #1e90ff;
}
